.primario{
    width: 88%;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    font-family: 'Inter', sans-serif;
}
.logo{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    color: white;
    line-height: 20px;
    letter-spacing: -5px;
    cursor: crosshair;
}

.menu ul li{
    list-style: none;
    margin: 0 10px;
    display: inline;
    justify-content: space-between;
}

.menu ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #5f5f5f;
}


.botao ul li{
    list-style: none;
    margin: 0 10px;
    display: inline;
    justify-content: space-between;

}

.botao ul li a{
    text-decoration: none;
    font-size: 15px;
}

.cadastro{
    background-color: darkred;
    border: 10px solid darkred;
    border-radius: 8px;
    color: white;
}

h6{
    text-align: center;
    font-size: 16px;
    color: darkred;
    font-family: 'Inter', sans-serif;
}

h1{
    text-align: center;
    font-size: 48px;
    font-family: 'Inter', sans-serif;
}

.sobrenos{
    text-align: center;
    font-size: 20px;
    color: #5f5f5f;
    font-family: 'Inter', sans-serif;
}

.metricas-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left:30px;
    padding-right: 30px;
    margin: 30px;
}
.metricas-container div{
    font-family: 'Inter', sans-serif;
}

.metricas-container div h2{
    color: darkred;
    font-size: 60px;
}

.metricas-container div h3{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.metricas-container div p{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #5f5f5f;
}

h4{
    font-size: 14px;
    color: darkred;
    background-color: #8E24240D;
    border: 10px solid #8E24240D;
    border-radius: 8px;
   display: block;
   width: 100px;
  margin-left: auto;
  margin-right: auto;
}

h3{
    font-size: 36px;
    text-align: center;
}

p{
    font-size: 20px;
    color: #5f5f5f;
    text-align: center;
}
.fto{
    height: 500px;
    width: 1520px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.area{
    font-size: 20px;
}

.vaga{
    font-size: 20px;
    width: 768px;
    margin: 0 auto;
}
.vaga1{
   width: 768px;
   margin: 50px auto;
   border: 1px solid #EAECF0;
   display: flex;
   flex-direction: column;
   padding: 24px 24px 28px;
   border-radius: 16px;
}

.vaga2{
    width: 768px;
   margin: 50px auto;
   border: 1px solid #EAECF0;
   display: flex;
   flex-direction: column;
   padding: 24px 24px 28px;
   border-radius: 16px;
}

.vaga3{
    width: 768px;
   margin: 50px auto;
   border: 1px solid #EAECF0;
   display: flex;
   flex-direction: column;
   padding: 24px 24px 28px;
   border-radius: 16px;
}

.vaga4{
    width: 768px;
    margin: 50px auto;
    border: 1px solid #EAECF0;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 28px;
    border-radius: 16px;
}

.vaga5{
    width: 768px;
   margin: 50px auto;
   border: 1px solid #EAECF0;
   display: flex;
   flex-direction: column;
   padding: 24px 24px 28px;
   border-radius: 16px;
}

.titulo-vaga{
    width: 720px;
    height: 28px;
    font-size: 18px;
    align-self: stretch;
    margin: 8px 8px 28px;
    font-weight: 750;
}

.informacoes{
    color: #5f5f5f;
    font-size: 16px;
    margin: 0 8px;
    align-self: stretch;
}

.sexta{
    background: rgba(196, 25, 25, 0.03);
    width: 1520px;
    height: 404px;
    align-items: center;
    margin: 0 auto;
}

.sexta h2{
    color: darkred;
    text-align: center;
    font-size: 14px;
    display: flex;
    justify-content: space-around;
}

.sexta h1{
    font-size: 36px;
    text-align: center;
}

.sexta img{
    align-items: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;

}

.sexta h3{
    font-size: 16px;
}

.sexta h6{
    font-size: 14px;
    color: #5f5f5f;
}